<% @page_title = " Delete clinic" %>

<%= link_to("<< Return", [@current_user, params[:controller]], :class => 'back-link') %>

<div class="clinic delete">
	<h2><%= t(:delete) + " " + t(:clinic) %></h2>

	<%= form_for([@current_user, @clinic], :html => {:method => :delete}) do |f| %>

		<p> "Do you want to delete"  </p>
		<p class="reference-name"><%= @clinic.name %></p>

		<div class="form-buttons">
			<%= submit_tag(" Delete Clinic") %>
		</div>
	<% end %>
</div>