<% @page_title = " Delete Clinic" %>

<br>
<div class="clinic delete">
	<h4><%= t(:delete) + " " + t(:clinic) %></h4>

	<%= form_for([@current_user, @clinic], :html => {:method => :delete}) do |f| %>
		<br>
		<h3> <%= "Do you want to delete clinic " %> <%=@clinic.name%><%= "?" %> </h3>
		<br><br>

		<div class="form-buttons">
			<%= submit_tag(" Delete Clinic") %>
		</div>
	<% end %>
</div>
<br>

<%= link_to(" Back", [@current_user, params[:controller]], :class => 'back-link') %>
