
<% @page_title = " Clinics" %>
<tr>
    <% if !@is_clinic %>
      <td>
      <br>
          <h4> Clinic List </h4>

<!-- The line below will be removed once the      logging is sorted out, as The profeional name will be place at the very toop of the app ( in the black part) -->   
          <h2> Professional: <%= (@current_user.name )%></h2>  
      </td>
    <% else %> 
    <h2> Clinic List </h2>   
    <%end%>
</tr>

<br> <br> 

<!-- A clinic won't be able to create another clinic apart from itself -->
<% if !@is_clinic %>
  <%= link_to('Add New Clinic', [:new, @current_user, params[:controller].singularize], :class => 'action new') %>
<% else %>
<% end %> 
<br>
<br>



<!-- CHANGES TO HOME LINK. AT THE END IT WAS LEFT ON THE PROFESSIONAL LAYOUT TO BE TAKEN BY THE ENTIRE APPLICATION -->

<%#= link_to(" << " + "Home", @current_user)  %>  <!-- This was the first method to refer to a Home link -->

<%#= link_to raw('<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home'),@current_user %> <!-- This is another way to refer to the Home link with a glyphicon -->

<!-- This is the lates version for the Home glyphicon and it will be used on every page. -->
<!-- <%#= link_to @current_user do %>
  <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home

<#% end %> -->

<div class="table-responsive">
 <table class="table table-striped">
  <thead>
    <tr>
      <th>Clinic Id</th>
      <th>Clinic Name</th>
      <th>Created by</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clinics.each do |clinic| %>
      <tr>
        <td><%= clinic.id %></td>
        <td><%= clinic.name %></td>
        <td><%= clinic.creator %></td>

        <td><%= link_to(t(:show), [@current_user, clinic], :class => 'action show') %></td>

       <td><%= link_to(t(:edit), [:edit, @current_user, clinic], :class => 'action edit') %></td>

       <td> <%= link_to('Delete', [:delete, @current_user, clinic], :class => 'action delete') %></td>
     
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

| <%#= link_to 'Back', [@current_user, params[:controller]] %>

<%= link_to 'Back', :back %> |



