
<% @page_title = " Show Clinic" %>
<tr>
   <% if @is_clinic %>
    <td>
    <br>
      <h2> Clinic Details </h2>
    </td>
   <% else %>
     <td> 
     <br>
       <h4> Clinic Details </h4>
       <h2> Professional: <%= (@current_user.name )%></h2>
       
     </td>
    <%end%>
 </tr>

<div class="table-responsive">
  <table id="show_table" class="display responsive" summary="Company detail view">

 	<tbody>
      	<br>
	     <tr>	
			<th><%= t(:id) %></th>
			<td><%= @clinic.id%></td>
		 </tr>

		 <tr>	
			<th><%= t(:name) %></th>
			<td><%= @clinic.name%></td>
		 </tr>
		 <tr>	
			<th><%= t(:creator) %></th>
			<td><%= @clinic.creator%></td>
		 </tr>

     <tr>
      <th><%= link_to('Professional'.pluralize(locale), @is_clinic ? [@clinic, :professionals] : [@current_user]) %></th>
      <td><%= @is_clnic ? @clinic.professionals.size : "1" %></td> 
    </tr>

     <tr>
      <th><%= link_to('Appointments', @is_clinic ? [@clinic, :appointments] : [@current_user, :appointments, {:clinic_id => @clinic.id}]) %></th>
      <td><%= @is_clinic ? @clinic.appointments.size : @current_user.appointments.select {|s| s.clinic_id == params[:id].to_i}.size %></td>
    </tr>

    <tr>
    <th><%= link_to('Clients', @is_clinic ? [@clinic, :clients] : [@current_user, :clients, {:clinic_id => @clinic.id}]) %></th>
    <td><%= @is_clinic  ? @clinic.clients.size : @current_user.clients.select {|s| s.clinic_id == params[:id].to_i}.size %></td>
    </tr>

	</tbody>
  </table>
 </div>


<%= link_to(t(:edit), [:edit, @current_user, @clinic], :class => 'action edit') %> |
 
<%= link_to 'Back', :back %> | 

<% if @is_clinic %>
<%= link_to 'Professionals', clinic_professionals_path(@clinic) %>
<% else %>
<% end %> 

