<%= form_for(@professional) do |f| %>
  <% if @professional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@professional.errors.count, "error") %> prohibited this professional from being saved:</h2>

      <ul>
      <% @professional.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <div>
    <%= f.label :name %> <br>
    <%= f.text_field :name %>
  </div>
  <br>
  <div>
    <%= f.label :creator %> <br>
    <%= f.text_field :creator %>
  </div>
  <br>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div> 
<% end %>

<%= link_to 'Back', [@current_user, params[:controller]] %>
