<% @page_title = " Delete Professional"%>
<br>

<div class="professional delete">
	<h4><%= t(:delete) + " " + t(:professional) %></h4>

	<%= form_for([@current_user, @professional], :html => {:method => :delete}) do |f| %>
	<br>
		<h3> <%= "Do you want to delete professional" %> <%=@professional.name%><%= "?" %> </h3>

	<br><br>
	
	<div class="form-buttons">
			<%= submit_tag(" Delete Professional") %>
		</div>
	<% end %>
</div>
<br>

<%= link_to(" Back", [@current_user, params[:controller]], :class => 'back-link') %>
