<!-- <h1>Editing Professional</h1>

<%#= render 'form' %> -->

<% @page_title = t(:professional).pluralize(locale) %>

<br>
<tr>
   <% if @is_clinic %>
    <td>
      <h3> Clinic <%= (@current_user.name )%></h3>
        <h3> Edit Professional <%= (@professional.name )%></h3>
    </td>
   <% else %>
     <td> 
       <h3> Edit Professional <%= (@professional.name )%></h3>
     </td>
    <%end%>
 </tr>
<br>


<%= link_to("<<  Return ", [@current_user, params[:controller]], :class => 'back-link') %>
<br>
<br>

<div class="professionals edit">
  <%= form_for([@current_user, @professional]) do |f| %>
      <%= render(:partial => "form", :locals => {:f => f}) %>

<!--     <div class="form-buttons">
      <%#= submit_tag(t(:edit) + " " + t(:professional)) %>
    </div> --> 
  <% end %>
</div>
