<!-- NOTE: THIS PAGE WILL BE SEEN BY DEVELOPERS ONLY.
IN THE REAL WORLD EVERY PORFESSIONLA WILL HAVE ITS OWN LOGGIN AT WON'T BE ABLE TO SEE OTHER PROFESIONALS DETAILS AS SUCH-->


<tr>
   <% if @is_clinic %>
    <td>
      <h2> Clinic <%= (@current_user.name )%></h2>
      <h3>Professionals</h3>
    </td>
   <% else %>    
     <td> 
       <h3>Professionals</h3>
     </td>
    <%end%>
 </tr>


<%=  link_to("<< " + "Home", @current_user)  %>
 <br>  <br>  <br> 
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
        <th>Prof ID</th>
        <th>Professional Name</th>
        <th>Created by</th>
        
        <th>Actions</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @professionals.each do |professional| %>
      <tr>
        <td><%= professional.id %></td>
        <td><%= professional.name %></td>
        <td><%= professional.creator %></td>
        <td><%= link_to(t(:show), [@current_user, professional], :class => 'action show') %></td>
        <td><%= link_to(t(:edit), [:edit, @current_user, professional], :class => 'action edit') %></td>
        
          <td><%#= link_to 'Edit', edit_professional_path(professional) %></td>


        <td><%#= link_to(t(:delete), [:delete, @current_user, professional], :class => 'action delete') %></td>
        <td><%#= link_to 'Destroy', [@current_user, professional], method: :delete, data: { confirm: 'Are you sure?' } %></td>


         <td><%= link_to('Delete', [:delete, @current_user, professional], :class => 'action delete') %></td>
      </tr>
    <% end %>
  </tbody>

</table>
</div>

<br>
  <!-- A professional won't be able to create another professional apart from itself -->
<% if @is_clinic %>
  <%= link_to('New Professional', [:new, @current_user, params[:controller].singularize], :class => 'action new') %>
  <%#= link_to 'New Professional', new_clinic_professional_path %> 
<% else %>
<% end %>
