

<h4>Professional <%= @professional.name %></h4>

<div class="table-responsive">
  <table id="show_table" class="display responsive" summary="Company detail view">

 	<tbody>
      	<br>
	     <tr>	
			<th><%= t(:id) %></th>
			<td><%= @professional.id%></td>
		 </tr>

		 <tr>	
			<th><%= t(:name) %></th>
			<td><%= @professional.name%></td>
		 </tr>
		 <tr>	
			<th><%= t(:creator) %></th>
			<td><%= @professional.creator%></td>
		 </tr>
	</tbody>
  </table>
 </div>


<%= link_to(t(:edit), [:edit, @current_user, @professional], :class => 'action edit') %> |

<%#= link_to 'Back', :back %> 
<%= link_to 'Back', [@current_user, params[:controller]] %> |

 <%= link_to 'Appointments', professional_appointments_path(@professional) %> |

<% if !@is_clinic %>
 <%= link_to 'Clinics', professional_clinics_path(@professional) %>
<% else %>
<% end %> 
 
