<tr>
   <% if @is_clinic %>
    <td>
      <h2> Clinic <%= (@current_user.name )%></h2>
        <h3> Professional <%= (@professional.name )%></h3>
    </td>
   <% else %>
     <td> 
       <h2> Professional <%= (@professional.name )%></h2>
     </td>
    <%end%>
 </tr>

<div class="table-responsive">
  <table id="show_table" class="display responsive" summary="Company detail view">

 	<tbody>
      	<br>
	     <tr>	
			<th><%= t(:id) %></th>
			<td><%= @professional.id%></td>
		 </tr>

		 <tr>	
			<th><%= t(:name) %></th>
			<td><%= @professional.name%></td>
		 </tr>
		 <tr>	
			<th><%= t(:creator) %></th>
			<td><%= @professional.creator%></td>
		 </tr>
	</tbody>
  </table>
 </div>


<%= link_to(t(:edit), [:edit, @current_user, @professional], :class => 'action edit') %> |

<%#= link_to 'Back', :back %> 
<%= link_to 'Back', [@current_user, params[:controller]] %> |

 <%= link_to 'Appointments', professional_appointments_path(@professional) %> |  <!-- This works if we only have professionals crearing appointments--> 

  <%#= link_to 'Appointments',[@current_user, :appointments, {:professional_id => @professional.id}] %>
  

 
<% if !@is_clinic %>
<%= link_to 'Clinics', professional_clinics_path(@professional) %>
<% else %>
<% end %> 
 
