<p id="notice"><%= notice %></p>

<h1>Listing Assaigments</h1>

<table>
  <thead>
    <tr>
      <th>Appointment</th>
      <th>Professional</th>
      <th>Creator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assaigments.each do |assaigment| %>
      <tr>
        <td><%= assaigment.appointment %></td>
        <td><%= assaigment.professional %></td>
        <td><%= assaigment.creator %></td>
        <td><%= link_to 'Show', assaigment %></td>
        <td><%= link_to 'Edit', edit_assaigment_path(assaigment) %></td>
        <td><%= link_to 'Destroy', assaigment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assaigment', new_assaigment_path %>
