  
  
<div class="table-responsive">
  <table id="fields_table" class="display responsive" summary="Appointment form fields">
    <tbody>
      <tr>
        <th><%= f.label(:professional_Id) %></th>
        <td>  <% if @is_clinic %>
              <%= f.fields_for :assaignments do |assaignment| %>          
              <%= render "assaignment_fields", :f => assaignment %>
                 <% end %>   
              <%= link_to_add_association 'Add Professional', f, :assaignments %>
              <%= f.hidden_field(:clinic_id, :value => @current_user.id) %>
              <% else %>
               <%= @current_user.name %>
              <%end%></td>

             

        </tr> 
        <tr>
        <th><%= f.label :clinic_id%></th><br>
        <td><%= @is_clinic ? @current_user.name : f.collection_select(:clinic_id, @current_user.clinics, :id, :name, include_blank: true)  %></td> 
        </tr><br>
        <tr>
        <th><%= f.label :client_id %></th><br>
        <td><%= @is_clinic ? f.collection_select(:client_id, @current_user.clients, :id, :name, include_blank: true) : f.grouped_collection_select(:client_id, @current_user.clinics, :clients, :name, :id, :name, include_blank: true)   %>
        <%#= @is_clinic ? f.collection_select(:client_id, @current_user.clients, :id, :name, include_blank: true) : f.collection_select(:client_id, @current_user.clients, :id, :name, include_blank: true)   %></td>
        </tr><br>
        <tr>
        <th><%= f.label :comment %></th><br>
        <td><%= f.text_area :comment %></td> 
        </tr><br>
        <tr>
        <th><%= f.label :date %> </th>
        <td> <%= f.datetime_select :date %></td>
        </tr><br>
        <tr>
        <th><%= f.label :creator %></th>
        <td><%=  f.text_field :creator %></td>
        </tr>
        <br>
      </tbody>
    </table>
 </div>

