   <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>
  </div>



<div class="table-responsive">
  <table id="fields_table" class="display responsive" summary="Appointment form fields">
    <tbody>
      <tr>
        <th><%= f.label(:professional_Id) %></th>
        <td><%= f.fields_for :assaignments do |assaignment| %>          
        <%= render "assaignment_fields", :f => assaignment %>
           <% end %>        
            <br> 
            
            <%= link_to_add_association 'Add Professional', f, :assaignments %>
             <%= f.hidden_field(:clinic_id, :value => @current_user.id) %>

        </td>
        </tr> 
        <tr>
        <th><%= f.label :comment %></th><br>
        <td><%= f.text_area :comment %></td> 
        </tr><br>
        <tr>
        <th><%= f.label :date %> </th>
        <td> <%= f.datetime_select :date %></td>
        </tr><br>
        <tr>
        <th><%= f.label :creator %></th>
        <td><%=  f.text_field :creator %></td>
        </tr>
        <br>
      </tbody>
    </table>
 </div>

