 <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

<%= form_for([@current_user, @appointment]) do |f| %>

     <tr>
        <th><%= f.label(:clinic_id) %></th>
        <td><%= @is_clinic ? @current_user.name : f.collection_select(:clinic_id, @current_user.clinics, :id, :name, include_blank: true) %></td>
      </tr>


  <div class="field">
  
      <th><%= f.label(:professional_id, t(:professional)) %></th>
        <td>          
          <% if @is_clinic %>
            <%= f.fields_for :assignments do |assignment| %>
              <%= render "assignment_fields", :f => assignment %>
            <% end %>        
            <br>
            <%= link_to_add_association t(:add_new_professional), f, :assignments %>
            <%= f.hidden_field(:clinic_id, :value => @current_user.id) %>
          <% else %>
            <%#= @appointment.professional.first_name + " " + @appointment.professional.last_name %>
            <%#= f.hidden_field(:professional_id, :value => @current_user.id) %>
          <% end %>  
        </td>  








  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :creator %><br>
    <%=  f.text_field :creator %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>