
<tr>
   <% if !@is_clinic %>
    <td>
      <h2> Professional <%= (@current_user.name )%></h2>
      <h3>Appointments</h3>
    </td>
   <% else %>     
     <td> 
      <h2> Clinic <%= (@current_user.name )%></h2>
      <h3>Appointments</h3>
     </td>
    <%end%>
 </tr>

<br>
<br>

 <div class="table-responsive">
            <table class="table table-striped">
  <thead>
    <tr>
      <th>Clinic</th>
      <th>Comment</th>
      <th>Date</th>
      <th>Created by</th>
      <th>Professionals</th>

      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.clinic.name %></td>
        <td><%= appointment.comment %></td>
        <td><%= appointment.date %></td>
        <td><%= appointment.creator %></td>
        <td><%= appointment.professionals.size %></td>

        <td><%= link_to(t(:show), [@current_user, appointment], :class => 'action show') %></td>
        <td><%= link_to(t(:edit), [:edit, @current_user, appointment], :class => 'action edit') %></td>
        <td><%= link_to 'Destroy', [@current_user, appointment], method: :delete, data: { confirm: 'Are you sure?' } %></td> 
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to('New Appointment', [:new, @current_user, params[:controller].singularize], :class => 'action new') %>  
<br>
 <%#= link_to 'New Appointment', {[new_@current_user_appointment], :class => 'action new'} %>
<%= link_to 'Clinics', clinics_path %>



<%= javascript_tag("$(document).ready( function () {$('#index_table').DataTable({responsive: true, fixedHeader: true});} );") %>

<%= javascript_tag("function filterColumn ( i ) {$('#index_table').DataTable().column( i ).search( $('#col'+i+'_filter').val()).draw();}") %>

<%= javascript_tag("window.onload = function(){$('#index_table').DataTable().column(7).data().unique().sort().each( function ( value ) {select = document.getElementById('col7_filter'), option = null; option = document.createElement('option');option.value = value;option.innerHTML = value;select.appendChild(option);} );$('#index_table').DataTable().column(2).data().unique().sort().each( function ( value ) {select = document.getElementById('col2_filter'), option = null; option = document.createElement('option');option.value = value;option.innerHTML = value;select.appendChild(option);} );};") %>
