<p id="notice"><%= notice %></p>

<h1>Listing Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Clinic</th>
      <th>Comment</th>
      <th>Date</th>
      <th>Creator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.clinic.name %></td>
        <td><%= appointment.comment %></td>
        <td><%= appointment.date %></td>
        <td><%= appointment.creator %></td>


        <td><%= link_to(t(:show), [@current_user, appointment], :class => 'action show') %></td>
        <td><%= link_to(t(:edit), [:edit, @current_user, appointment], :class => 'action edit') %></td>
        <td><%= link_to 'Destroy', [@current_user, appointment], method: :delete, data: { confirm: 'Are you sure?' } %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Appointment', new_clinic_appointment_path(@appointment) %>
<br>
 <%#= link_to 'New Appointment', [ @current_user_new_appointment], :class => 'action new' %>
<%= link_to 'Clinics', clinics_path %>
