<p id="notice"><%= notice %></p>

<h1>Listing Appointments</h1>

<table class="table">
  <thead>
    <tr>
      <th>Clinic</th>
      <th>Comment</th>
      <th>Date</th>
      <th>Creator</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.clinic.name %></td>
        <td><%= appointment.comment %></td>
        <td><%= appointment.date %></td>
        <td><%= appointment.creator %></td>



        <td><%#= link_to 'Show', clinic_appointment_path(@appointment) %></td>
        <td><%#= link_to 'Show', appointment_path(@appointments)%></td>
<!--# edit_clinic_appointment_path 	GET 	/clinics/:clinic_id/appointments/:id/edit(.:format) 	appointments#edit-->
        <td><%#= link_to 'Edit',edit_clinic_appointment_path([appointment.clinic, appointment] %></td>)
        <td><%= link_to 'Destroy', [appointment.clinic, appointment],
           method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_clinic_appointment_path %>
<br>
<%= link_to 'Clinics', clinics_path %>
