<% @page_title = "Show Appointment" %>

<br>
<tr>
   <% if @is_clinic %>
    <td>
      <h2><%= (@current_user.name )%></h2>
       <h3> Appointment Details  <%#= (@clinic.name )%></h3>
    </td>
   <% else %>
     <td> 
       <h2><%= (@current_user.name )%></h2>
       <h3> Appointment Details <%#= (@clinic.name )%></h3>
     </td>
    <%end%>
 </tr>
<br>

<div class="table-responsive">
  <table id="show_table" class="display responsive" summary="Appointment details view">

 	<tbody>
      	<br>
			  <tr>	
			  	<th><%= t(:Clinic) %></th>
				<td><%= @appointment.clinic.name%></td>
			  </tr>
			  <tr>	
			   <th><%= t(:Comment) %></th>
			   <td><%= @appointment.comment%></td>
			  </tr>
			  <tr>	
			   <th><%= t(:Date) %></th>
			   <td><%= @appointment.date%></td>
			  </tr>
			  <tr>	
			   <th><%= t(:Creator) %></th>
			   <td><%= @appointment.creator%></td>
			  </tr>
			   <tr>	
			   <th><%= t(:Client) %></th>
			   <td><%= @appointment.client.id%></td>
			  </tr>

			  <!-- This will show professionals ids in an array] -->
			  <tr>	
			   <th><%= t(:Professional) %></th>
			   <td><%= @appointment.professional_ids%></td>
			  </tr>

			  <!-- This will show professional/s name/s and its/their ID/s depending on how many professionals are booked for this appointment. This is iterating over an array-->
			  
			   <tr>	
			   <% @appointment.professionals.each do |professional| %> 
			   	<th><%= "Professional Name:" %></th>
			    <td><%= professional.name  %></td> 
               	<th><%= "Professional ID:" %></th>
                <td><%= professional.id.to_s %></td>
               </tr>            
				<% end %> 
			
	</tbody>
</table>
<br>
<br>

<%= link_to(t(:edit), [:edit, @current_user, @appointment], :class => 'action edit') %> |
<%= link_to 'Back to Appointments', [@current_user, params[:controller]] %>



